@import "../../shared/styles/mixin.scss";

.main_image_banner {
  max-height: 60vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  .banner_title {
    padding-top: 2em;
    @include responsive-layout;
    position: absolute;
    // position: absolute;{
    // right: 0;
    * {
      margin: 0;
    }
    .new_title_content {
      margin: 0.3em 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: white;
      text-shadow: 4px 4px 13px black;
    }
  }
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  .banner_title {
    padding-top: 0 !important;
  }
}
