@import "../../shared/styles/mixin.scss";

.new_title {
  @include responsive-layout;
  padding-top: 70px;
  text-align: end;
  * {
    margin: 0;
  }
  .new_title_content {
    margin: 0.3em 0;
  }
}
.main_image_news {
  max-height: 68vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
}
