@import "../../shared/styles/mixin.scss";

.about_us_image {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position-y: 10%;
  // background-image: url('https://cdn.shopify.com/s/files/1/0071/3637/8998/files/Mens-street-style-vans-hi-sk8.jpg');
  min-height: 220px;
  margin-top: 70px;
}

.about_us_form {
  @include responsive-layout;
  margin-top: 3em;
}

.form_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4em;

  .map_container {
    display: flex;
    align-items: center;
    padding: 5em;

    img {
      max-width: 100%;
    }
  }
}
