@import "../../shared/styles/mixin.scss";

.about_us_image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  img {
    width: 100%;
  }

  h2 {
    position: absolute;
  }
}

.about_us_form {
  @include responsive-layout;
  margin-top: 2em;
}