.summary_content {
  h5 {
    margin-bottom: 15px;
  }
  .line_summary {
    margin-bottom: 0.4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .data {
      display: flex;
      align-items: center;
      max-width: 80%;
      .label {
        margin-right: 1em;
      }
    }
  }

  .total {
    margin: 1.7em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .label {
      font-size: 1.2em;
    }
    .total_price {
      font-weight: bold;
    }
  }

  .pay_button {
    width: 100%;
  }
}
