.dialog_container {
  text-align: center;

  .inputs_content {
    margin: 1em 0 2em 0;
    display: grid;
    gap: .5em;

    div {
      width: 100% !important;
    }
  }

  .buttons_content {
    display: grid;
    gap: 0.6em;
  }
}