@mixin responsive-layout {
  max-width: 85%;
  margin: 0 auto;

  /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
  @media (min-width: 1281px) {
    width: 1200px;
  }

  /* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
  @media (min-width: 1025px) and (max-width: 1280px) {
    width: 1010px;
  }

  /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 770px;
  }

  /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  }

  /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
  @media (min-width: 481px) and (max-width: 767px) {
    width: 90%;
  }

  /* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
  @media (max-width: 480px) {
    // margin: 0 2em;
  }
}
