@import "../../shared/styles/mixin.scss";

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  -webkit-box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.36);
  // overflow: hidden;

  .header_container {
    width: 85%;
    height: 70px;
    margin: auto;
    display: grid;
    grid-template-columns: 12% 76% 12%;
    position: relative;
    .iconButtonMenu {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0.3em 0.6em;
      font-size: 2em;
      display: none;
    }

    .activeRoute {
      background-color: #141414;
      span {
        color: #efefef;
      }
    }

    .image_content {
      display: flex;
      align-items: center;
      max-height: 100%;
      overflow: hidden;
      // justify-content: center;

      img {
        cursor: pointer;
        width: 90px;
      }
    }

    .navigation {
      list-style: none;
      display: flex;

      .item_li {
        cursor: pointer;
        padding: 0 15px;

        &:last-child {
          padding-right: 0 !important;
        }

        a {
          text-decoration-line: none;
          color: #a29c9c;
          transition: color 0.4s ease 0s;
          padding: 0 12px;
          height: 100%;
          display: flex;
          align-items: center;

          &:hover {
            color: black;
          }
        }
      }
    }

    .icon_buttons {
      font-size: 1.3em;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a {
        color: black;
        display: flex;
      }

      svg {
        padding: 0.2em;
        box-sizing: content-box;
        cursor: pointer;
        margin-left: 0.7em;
      }
      .loggedContent {
        display: flex;
        text-align: center;
        align-items: center;
        svg {
          margin: 0;
        }
      }
    }
  }

  .pasarela_products {
    z-index: 3;
    // border-top: 3px solid white;
    background-color: rgba(255, 255, 255, 1);
    border-top: 1px solid gray;
    position: absolute;
    width: 100%;
    top: 70px;
    transition: all 0.4s ease;
    -webkit-box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.36);
    overflow: hidden;
    display: flex;

    .pasarela_content {
      @include responsive-layout;
      display: flex;
      align-items: center;

      .new_arrivals {
        min-width: 210px;
        list-style: none;
        line-height: 1.8;
        color: #a29c9c;
        display: flex;
        flex-direction: column;
        overflow: auto;
        max-height: 250px;

        a,
        .pasarela_title {
          font-weight: bold;
          // font-style: italic;
          color: black;
        }

        .item_categoria {
          transition: 0.3s;
          text-decoration: none;

          &:hover {
            color: black;
          }
        }
      }

      .images_list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        color: rgb(97, 97, 97);
        font-size: 0.8em;
        grid-gap: 0.4em;
        // line-height: 2;

        .item_nav {
          text-decoration: none;
          color: rgb(97, 97, 97);
          // border-right: 1px solid;
          // padding: 0 0.4em;
          text-align: center;
          font-weight: bold;
          transition: 0.3s;
          cursor: pointer;

          span {
            margin-top: 1em;
            font-size: 1.3em;
          }

          img {
            width: 100%;
            // margin: 0 1em;
          }

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .nav_list {
    margin: auto;
    height: 81px;
    margin-top: 20px;
    list-style: none;
    display: flex;
    max-width: 100%;

    .item_li {
      cursor: pointer;
      padding: 0 22px;

      &:first-child {
        padding-left: 0 !important;
      }

      &:last-child {
        padding-right: 0 !important;
      }

      a {
        text-decoration-line: none;
        color: #a29c9c;
        transition: color 0.4s ease 0s;
        padding: 0 12px;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
          color: black;
        }
      }
    }
  }
}

.linkItem {
  color: black;
  text-decoration: none;
}
.lateral_menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  background: #00000069;
  transition: all 0.9s;
}

.shopping_content {
  z-index: 4;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  div.container {
    max-height: 100%;
    height: 100%;
    background: white;
    padding: 2em 2em;
    /* overflow: auto; */
    display: grid;
    grid-auto-rows: 1fr auto;
    box-sizing: border-box;
    .body_shopping {
      overflow: auto;
      .header_shopping {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;
        .close_icon {
          cursor: pointer;
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 950px) {
  .header {
    position: relative;

    .nav_list {
      margin-top: 0;
      flex-direction: column;
      align-items: center;
      height: auto !important;

      li {
        padding: 0.5em 0 !important;
      }
    }

    .pasarela_products {
      top: 100%;
      .pasarela_content {
        flex-direction: column;
      }
    }
  }

  .header_container {
    grid-template-columns: 1fr !important;
    height: auto !important;
    width: 100% !important;
    .iconButtonMenu {
      display: flex !important;
    }
    .image_content {
      justify-content: center;
    }
    .navigation {
      flex-direction: column !important;
      .item_li {
        padding: 0 !important;
        a {
          padding: 0.3em 0 !important;
          span {
            margin: auto;
          }
        }
      }
    }

    .icon_buttons {
      margin: 0.3em 0;
      justify-content: center !important;
      svg {
        margin: 0 0.5em !important;
      }
    }
  }
  .shopping_content {
    .container {
      width: 100%;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .item_li {
    cursor: pointer;
    padding: 0 15px;

    &:first-child {
      padding-left: 0 !important;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
