@import "../../shared/styles/mixin.scss";

.container_shopping_cart {
  margin: 2em 0;
}

.main_shopping_cart {
  @include responsive-layout;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
  .title_section {
    font-weight: bold;
    margin-bottom: 1em;
  }
}
