@import "../../../shared/styles/mixin.scss";

.main_image_news {
  max-height: 100vh;
  overflow: hidden;
  img {
    width: 100%;
    image-orientation: inherit;
  }
}

.container_new_detail {
  @include responsive-layout;
  .title_new {
    margin: 1em 0;
  }
  .description_new {
    margin: 1em 0;
  }
  .content_new {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2em;
    margin: 2em 0;
    .content_image_new {
      display: flex;
      img {
        width: 100%;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container_new_detail {
    max-width: 100% !important;
    padding: 0.5em;
    .content_new {
      grid-template-columns: 100%;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
