.container_main_image {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  .main_image {
    width: 100%;
  }
  .main_title {
    font-size: 3vw;
    position: absolute;
    text-align: center;
    padding: 0 2em;
  }
}

.image_container {
  display: grid;
  grid-template-columns: auto auto auto;
  .item_image {
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      transition: 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    }
    .item_hover {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.4s ease;
      background: rgba(2, 2, 2, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 2em;
      }
    }
    // &::before {
    //   content: "";
    //   z-index: 1;
    //   transition: all 0.4s ease;
    // }
    &:hover {
      img {
        transform: scale(1.1);
      }
      .item_hover {
        opacity: 1;
      }
    }
  }
}

.aboutus_container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  &::before {
    content: "";
    background: rgba(2, 2, 2, 0.6);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .txt_aboutus_container {
    position: absolute;
    max-width: 940px;
    margin: auto;
    left: 0;
    right: 0;

    .content {
      max-width: 50%;
      padding-right: 4em;
      box-sizing: border-box;
      font-size: 1.4em;
      h2 {
        font-size: 2em;
        margin-bottom: 0.3em;
      }
    }
  }
  img {
    width: 100%;
  }
}

.subscribe_container {
  background-color: rgba(162, 156, 156, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(2, 2, 2, 0.7);
  border-top: 0px solid rgba(255, 255, 255, 1);
  border-bottom: 0px solid rgba(255, 255, 255, 1);
  color: rgb(162, 156, 156);
  padding: 3em 0;
  display: flex;
  form {
    margin: auto;
    left: 0;
    right: 0;
  }
}

.social_networks_container {
  background-color: rgba(20, 20, 20, 1);
  color: rgb(162, 156, 156);
  padding: 3em 0;
  .social_content {
    max-width: 940px;
    margin: auto;
    .icons {
      display: flex;
      justify-content: space-between;
      max-width: 250px;
      margin: auto;
      font-size: 1.5em;
      svg {
        transition: all 1s;
        cursor: pointer;
      }
      svg:hover {
        color: white;
      }
    }
    .list_social {
      list-style: none;
      margin-top: 2em;
      li {
        margin: 0.8em 0;
      }
    }
  }
}

// Mobile
@media screen and (max-width: 599px) {
  .main_title {
    font-size: 1em !important;
  }
  .image_container {
    grid-template-columns: 100% !important;
  }
  .aboutus_container {
    // background: red;
    &::before {
      width: 100% !important;
    }
  }
  .subscribe_container {
    form {
      max-width: 85% !important;
      display: flex;
      flex-direction: column;
      .group {
        margin-right: 0;
      }
    }
  }

  .txt_aboutus_container {
    max-width: 85% !important;
    .content {
      font-size: 1em !important;
      max-width: 100% !important;
      padding: 0 !important;
    }
  }
  .list_social {
    max-width: 85% !important;
    margin: auto;
  }
}

body {
  background: var(--main-bg-color);
  color: var(--main-font-color);
}

@import "./shared/styles/input-material.scss";
@import "./shared/styles/button-material.scss";

*::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
}
