.container_form {
  width: 100%;
  text-align: center;
  .inputs_content {
    margin: 0.5em 0 2em 0;
    display: grid;
    gap: 1em;
  }

  .buttons_content {
    display: flex;
    justify-content: flex-end;
  }

  h5 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}
