@import "../../shared/styles/mixin.scss";

.main_image_news {
  max-height: 100vh;
  overflow: hidden;
  img {
    width: 100%;
    image-orientation: inherit;
  }
}

.container_list_news {
  @include responsive-layout;
  .item_news {
    display: flex;
    align-items: flex-end;
    margin: 4em 0;

    .image_item {
      width: 60%;
      display: flex;
      padding-right: 5.5em;
      img {
        cursor: pointer;
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 800px;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      .image_item {
        padding-left: 5.5em;
        padding-right: 0;
        display: flex;
        justify-content: flex-end;
      }
    }

    .content_item {
      width: 40%;
      cursor: pointer;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container_list_news {
    max-width: 100% !important;
    padding: 0.5em;
    .item_news {
      flex-direction: column-reverse !important;
      .content_item {
        width: 100% !important;
        text-align: center;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
