@import "../../shared/styles/mixin.scss";

.container_main_image {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 10em;

  .main_image {
    width: 100%;
  }

  .main_title {
    color: white;
    font-size: 3vw;
    position: absolute;
    text-align: center;
    padding: 0 2em;
    margin-top: 4em;

    h1 {
      // font-weight: bold;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.image_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  margin: 8px 0;
  // grid-gap: 6px;
  // margin: 6px 0;

  .item_image {
    overflow: hidden;
    position: relative;
    cursor: pointer;

    img {
      vertical-align: middle;
      width: 100%;
      transition: 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    }

    .item_hover {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.4s ease;
      background: rgba(2, 2, 2, 0.6);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 2em;
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      .item_hover {
        opacity: 1;
      }
    }
  }
}

.outstanding {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7em 0;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  color: white;

  .text_outstanding {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    margin: 0.5em;
  }

  .video_container {
    position: relative;

    div {
      max-width: 98vw;
    }

    // overflow: hidden;
  }
}

.aboutus_container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-size: cover !important;

  &::before {
    content: "";
    background: rgba(2, 2, 2, 0.6);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .txt_aboutus_container {
    @include responsive-layout;
    min-height: 200px;
    margin: 2em auto;
    z-index: 1;

    .content {
      max-width: 50%;
      padding-right: 4em;
      box-sizing: border-box;
      font-size: 1.4em;

      h2 {
        font-size: 2em;
        margin-bottom: 0.3em;
      }
    }
  }

  img {
    width: 100%;
  }
}

.subscribe_container {
  background-color: black;
  box-shadow: 0px 0px 5px 0px rgba(2, 2, 2, 0.7);
  border-top: 0px solid rgba(255, 255, 255, 1);
  border-bottom: 0px solid rgba(255, 255, 255, 1);
  color: rgb(162, 156, 156);
  padding: 2em 0;
  display: flex;
  text-align: center;

  .content_subscribe {
    @include responsive-layout;

    form {
      padding-top: 2em;
      max-width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @media screen and (max-width: 600px) {
        div {
          width: 100%;
        }
      }

      .subscribe_input {
        max-width: 100%;
        width: 100%;
        color: white;
        margin-right: 1.5em;
      }

      .btn_subscribe {
        min-width: 30%;
        button {
          width: 100%;
        }
      }
    }
  }
}

// Mobile
@media screen and (max-width: 600px) {
  // .main_title {
  //   font-size: 1em !important;
  // }
  .image_container {
    grid-template-columns: 100% !important;
  }

  .aboutus_container {
    // background: red;
    &::before {
      width: 100% !important;
    }
  }

  .subscribe_container {
    form {
      padding-top: 0;
      max-width: 100% !important;
      width: 100% !important;
      display: flex;
      flex-direction: column;

      .subscribe_input {
        width: 100% !important;
        margin-bottom: 0.5em;
      }

      .btn_subscribe {
        width: 100%;
        button {
          width: 100%;
        }
      }

      .group {
        margin-right: 0;
      }
    }
  }

  .txt_aboutus_container {
    .content {
      font-size: 1em !important;
      max-width: 100% !important;
      padding: 0 !important;
    }
  }

  .social_content {
    grid-template-columns: 1fr !important;
    grid-gap: 1.5em !important;
  }

  .logo {
    justify-content: center !important;
  }

  // .list_social {
  //   margin: auto;
  // }
}
