.list_products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1em;
  row-gap: 2em;
  margin: 3em 0;

  .item_product {
    .image_product {
      img {
        width: 100%;
        cursor: pointer;
      }
    }
    .info_product {
      display: flex;
      flex-direction: column;
    }
  }
}
